{% extends "base.html" %}

{% block title %}Compose Message{% endblock %}

{% block content %}
<script src="/static/js/compose.js"></script>

<section class="section">
  <div id="app" class="app-frame">
    <div id="success" class="has-text-centered" v-if="processed">
      <h2 class="subtitle">Your message has been sent to [[ doctor_name ]]!</h2>
      <h2 class="subtitle">This app will disappear in {{ countdown }} seconds.</h2>
      <h2 class="subtitle">Please close your browser tab for your privacy.</h2>
    </div>
    <div id="compose" v-if="!processed">
      <h2 class="subtitle">Hi [[ first_name ]] [[ last_name ]] <a href="/register/[[ phone_number ]]">(not you?)</a>
      </h2>
      <h2 class="subtitle">Whatever you write here will be sent to [[ doctor_name ]] securely.</h2>
      <div class="form-group">
        <form id="message" @submit.prevent="sendMessage">
          <div class="field">
            <div class="control has-text-white">
              <transition name="slide-fade">
                <textarea id="messageArea" class="textarea is-info is-radiusless" name="message" v-model="message"
                  v-if="messageAreaVisible" :class="{ 'is-danger': submitted && $v.message.$error }"></textarea>
                <p v-if="submitted && !$v.message.required" class="help is-danger">Message can't be empty.</p>
              </transition>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <transition name="slide-fade">
                <div id="buttons">
                  <button id="hideButton" class="button is-warning is-radiusless" v-on:click="toggleMessageArea">
                    <span class="icon is-small">
                      <i class="material-icons" v-if="messageAreaVisible">visibility</i>
                      <i class="material-icons" v-else>visibility_off</i>
                    </span>
                    <span v-if="messageAreaVisible">Hide</span>
                    <span v-else>Show</span>
                  </button>
                  <button id="clearButton" class="button is-danger is-radiusless" v-if="messageAreaVisible"
                    v-on:click="clearMessage" :disabled="!messageAreaVisible || (this.message === '')">
                    <span class="icon is-small">
                      <i class="material-icons">clear</i>
                    </span>
                    <span>Clear</span>
                  </button>
                  <button id="sendButton" class="button is-success is-radiusless" v-if="messageAreaVisible"
                    :disabled="!messageAreaVisible || (this.message === '')">
                    <span class="icon is-small">
                      <i class="material-icons">done</i>
                    </span>
                    <span>Send</span>
                  </button>
                </div>
              </transition>
            </div>
          </div>
          <input type="hidden" name="token" value="[[ token ]]" id="token" />
          <input type="hidden" name="phone_number" value="[[ phone_number ]]" id="phone_number" />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}