<script>
  // blinking cursor animation for logo
  var cursor = true;
  var speed = 600;

  setInterval(() => {
    if (cursor) {
      document.getElementById('cursor').style.opacity = 0;
      cursor = false;
    } else {
      document.getElementById('cursor').style.opacity = 1;
      cursor = true;
    }
  }, speed);
</script>

<div class="logo">
  <h1 class="title has-text-centered">
    <span class="logo-left"><span id="cursor">|</span>&nbsp;OFF</span>
    <span class="logo-right">THE RECORD</span>
  </h1>
</div>