{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero-body">
    <div class="app-frame">
      <h2 class="subtitle">Is there something you want to talk about privately with {{ doctor_name }}?</h2>
      <p class="subtitle">Just text <a href="sms:{{ sms_number }}&body=hi">{{ sms_number }}</a> from your
        smartphone to get your secure link.</p>
      <p class="subtitle">There's no app to install and whatever you say will be kept confidential. 🤫 </p>
      </div>
  </div>
</section>

{% endblock %}