{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <img src="/static/images/logo.png" width="150" />
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="subtitle">What is Off the Record?</h2>
    <hr />
    <p>As a teen, it’s embarrassing and awkward to openly ask your doctor questions about things like drugs, alcohol,
      sex,
      etc. when your parents are in the room. These conversations reveal risk factors that lead to accidents and
      suicide,
      the two biggest killers in the adolescent population.</p>
    <br />
    <p>This project allows teens to text a number specific to their doctor which sends them back a link to a secure
      messaging app where they can enter in the question or concern they have for their doctor privately and securely.
      The
      message is then delivered to the doctor and erased completely from the teen's phone. There is no app to install or
      data stored on the phone that can be tracked.</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="subtitle">Try it out<h2>
      <hr />
      <p>To try Off the Record, just send a text to (415) 223-5601.</p>
      <br />
      <p>Note: as this is a demo, <strong>please don't provide any personal or health information.</strong></p>
  </div>
</section>


{% endblock %}