{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero-body">
    <h1 class="title">
      <img src="/static/images/logo.png" width="150" style="padding-bottom: 1em"/>
    </h1>
    <h2 class="subtitle">Hey! Is there something you want to talk about privately with your doctor?</h2>
    <p class="subtitle">Just text "hi" to <a href="sms:{{ sms_number }}&body=hi">{{ sms_number }}</a> from your smartphone.</p>
    <p class="subtitle">There's no app to install. </p>
    <p>*This is a demo only, <strong>please don't send any personal information.</strong></p>
  </div>
</section>

{% endblock %}