{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<script src="/static/js/register.js"></script>

<section class="section">
  <div class="container">
    <div id="app" class="app-frame">
      <div id="registration-success" class="has-text-white" v-show="registered" key="1" v-cloak>
        <h2 class="subtitle">You're registered, awesome!</h2>
        <h2 class="subtitle">Please text <a href="sms:[[ sms_number ]]&body=hi">[[ sms_number ]]</a> to send a message
          to your doctor.</h2>
      </div>
      <div id="registration-form" class="has-text-white" v-show="!registered" key="2">
        <p>Please enter in your information below to set up an account.</p>
        <br />
        <div class="form-group">
          <form id="register" @submit.prevent="registerUser">
            <div class="field">
              <label class="label has-text-white">First Name</label>
              <div class="control">
                <input class="input is-info" type="text" name="first_name" v-model="first_name"
                  :class="{ 'is-danger': submitted && $v.first_name.$error }" />
                <p v-if="submitted && !$v.first_name.required" class="help is-danger">First name is required.</p>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="label has-text-white">Last Name</label>
                <input class="input is-info" type="text" name="last_name" v-model="last_name"
                  :class="{ 'is-danger': submitted && $v.last_name.$error }" />
                <p v-if="submitted && !$v.last_name.required" class="help is-danger">Last name is required.</p>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="label has-text-white">Date of Birth</label>
                <input class="input is-info" type="date" name="date_of_birth" v-model="date_of_birth"
                  :class="{ 'is-danger': submitted && $v.date_of_birth.$error }" />
                <p v-if="submitted && !$v.date_of_birth.required" class="help is-danger">Date of birth is required.</p>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="label has-text-white">Smartphone Number</label>
                <input class="input is-info" type="tel" name="phone_number" v-model="phone_number" maxlength="12"
                  :class="{ 'is-danger': submitted && $v.phone_number.$error }" />
                <p v-if="submitted && !$v.phone_number.required" class="help is-danger">Phone number is required.</p>
              </div>
            </div>

            <input type="hidden" value="[[ phone_number ]]" id="phone_number" />

            <input class="button is-info" type="submit" value="Sign Up" />

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}